.chat-list {
  position: absolute;
  top: 0px;
  bottom: 10px;
  padding-left: 10px !important;
  margin-bottom: 25px;
  overflow-y: auto;
  width: 100%;
  overflow-wrap: break-word;
  background-color: black;
  color: white;
}
